body {

    margin: 0;
    padding: 0;
    background-color: turquoise;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    overflow:hidden;
}

header {

    padding-top: 12%;
    text-align: center;
    filter: drop-shadow(2px 2px 2px black);
}

.truck {

    width:340px;
    height:215px;
    position:absolute;
	margin:300px 0 0 270px;
	display:block;
	
}

.truck *{ position:absolute;}

.truck #back{

	width: 187px;
    height: 118px;
	border:1.5px solid rgb(42, 43, 39);
    border-radius:5px 5px 0 5px;
	display:block;
	background: rgb(42, 43, 39);

}

.truck #front{

    width: 70px;
    height: 0;
    margin:20px 0 0 190px;
	border-bottom: 95px solid rgb(185, 196, 211);
	border-right: 50px solid transparent;
    
}


.truck #front::before{

	content:'';
    width: 20px;
	height:7.5px;
	margin:52px 0 0 17px;
    border-radius:7px;
    background-color:rgb(209, 126, 31);
	position:absolute;
	z-index:2000;
}

.truck #bumperTruck{

    width: 70px;
	height: 45px;
    margin:70px 0 0 240px;
	background-color:rgb(185, 196, 211);
}

.truck #bumperTruck::after{

	content:'';
    width: 75px;
	height: 45px;
	margin:-12px 0 0 -4px;
	position:absolute;
	background-color:rgb(185, 196, 211);
}

.truck #front #window{

    width: 55px;
    height: 0.5px;;
	margin:5px 0 0 10px;
	border-bottom: 35px solid rgb(38, 150, 150);
	border-right: 19px solid transparent;
    border-radius:10px 0 0 0;
	z-index:1000;
}

.truck #front #bumperFront{

    width: 30px;
	height:18px;
	margin:77px 0 0 95px;
    border-radius:6px;
	border:1px solid rgb(20, 19, 19);
    background-color:rgb(41, 37, 37);
	z-index:1000;
}

.truck #front #bumperFront::after{

	content:'';
    width: 10px;
	height:19px;
	margin:-21px 0 0 15px;
    border-radius:6px 0 0 0;
	border-top:1px solid rgb(230, 207, 8);
    position:absolute;
    background-color:rgb(243, 169, 9);
	z-index:1000;
}

#wheelR,#wheelF {

	width:59px;
	height:59px;
	display:block;
    border:0.3px dashed rgb(207, 192, 192);
	border-radius:59px;
	background-color:#000;
	z-index:2000;
}

#wheelR {

	margin:88px 0 0 65px;
}

#wheelF {

	margin:88px 0 0 230px;
}

#innerBlack {

	width:22.5px;
	height:22.5px;
    margin:7px 0 0 7px;
	border-radius:24px;
    background-color:rgb(0, 0, 0);
	display:block;
	z-index:2000;	
}

#innerGray {

	width:37px;
	height:37px;
    margin:10.5px 0 0 13px;
	border-radius:36px;
    background-color:#383333;
	display:block;
	z-index:2000;	
}

